*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar*/

.navegador{
    background-color: grey;
    padding: 10px;
    display: flow-root;


}


.navegador > ul {

    justify-content: right;
    list-style-type: none;
    position: relative;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    outline: 2px solid #4e5551;
    overflow: hidden;
    transition: color 1s;

}
.navegador > ul :hover {
    color: #090909;
}

.navegador > ul ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #4e5551;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}
.navegador > ul :hover::before {
    transform: scaleX(1) skewX(35deg);
}
/***/
.navegador > ul > li > a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;;
    position: sticky;
}
.icono{
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}  
a#id{
    display: block;
    border: none;
    background: url(../img/mira.png) no-repeat bottom;
    width: 1000px;
    height: 100px;    
}
.icono-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 10px;
    position: absolute;
    padding-left: 80px;
    padding-top: 5px;
    font-size: 20px;
}
.icono-info > a{
    text-decoration: none;
    color: white;
    
}


/*Encabezado*/

.encabezado{
    background-color: rgb(230, 100, 100);
    background-size: cover;    
    background-image: url(https://www.telam.com.ar/thumbs/bluesteel/advf/imagenes/2013/01/50f55ad4dea91_1200.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 70%;
    color: rgb(14, 82, 76);

}

.encabezado-info{
    justify-content: center;
    text-align: center;
}

/*Main*/

.contenido{
    
    text-align: center;
    background-color: rgb(230, 100, 100);
}
.contedio-presentation{
    justify-content: center;

}
.subtitle{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
}
.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}
.presentation__copy{
    width: 80%;
    margin: 0 auto;
    font-size: larger;
    text-align: center;
}
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}
.about__img--left{
    text-align: left;   
}

.about__picture{
    margin-top: 100px;
    max-width: 120%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 500;
    font-size: larger;
}

/*footer*/
.footer{
    height: 10px;
    display: flex;
    background-color: grey;
    color: white;
    padding-top: 40px;
    font-size: larger;
    
}
.buttons {
    min-width: 700px;
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
    gap: 100px;
    background-color: grey;
    padding-bottom: 20px;

  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }